<!--
  Generated template for the OrganisationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Organisations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Organizations view page</h3>

</ion-content>

