<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Users</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addSong()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
<!-- <ion-searchbar (input)="setFilteredLocations($event)"></ion-searchbar> -->
<ion-searchbar (ionInput)="search($event)"></ion-searchbar>
 <ion-list>
   <button ion-item *ngFor="let user of users" (click)="goToDetails(user.login)"  >
    <ion-avatar item-left>
      <img [src]="user.avatar_url">
    </ion-avatar>
    <button item-right (click)="remove(user)" style="width:50px; height:15px;">Delete</button>
    <h2>{{user.login}}</h2>
    <ion-icon name="arrow-forward" item-right></ion-icon>
  </button>
</ion-list>
</ion-content>
